SportsStore.Domain/bin/
SportsStore.Domain/obj/
SportsStore.UnitTests/bin/
SportsStore.UnitTests/obj/
SportsStore.WebUI/bin/
SportsStore.WebUI/obj/
SportsStore.WebUI/obj/Debug/*
SportsStore.WebUI/Web.config
TestResults/